[submodule "vim/.vim/pack/vendor/start/ale"]
	path = vim/.vim/pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/.vim/pack/vendor/start/bufkill"]
	path = vim/.vim/pack/vendor/start/bufkill
	url = https://github.com/qpkorr/vim-bufkill.git
[submodule "vim/.vim/pack/vendor/start/fzf.vim"]
	path = vim/.vim/pack/vendor/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/.vim/pack/vendor/start/nerdcommenter"]
	path = vim/.vim/pack/vendor/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "vim/.vim/pack/vendor/start/nerdtree"]
	path = vim/.vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/.vim/pack/vendor/start/nord"]
	path = vim/.vim/pack/vendor/start/nord
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "vim/.vim/pack/vendor/start/undotree"]
	path = vim/.vim/pack/vendor/start/undotree
	url = https://github.com/mbbill/undotree.git
